name: Delete old workflow runs

on: [push]

jobs:
  delete-old-workflow-runs:
    runs-on: ubuntu-latest

    steps:
      - name: Delete workflow runs for "Delete old workflow runs"
        uses: poohnet/delete-old-workflow-runs@v0.3.1
        with:
          repository: ${{ github.repository }}
          workflow: ".github/workflows/delete_old_runs.yml"
          older-than-seconds: 86400 # 24*60*60
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete workflow runs for "WARP Energy Manager"
        uses: poohnet/delete-old-workflow-runs@v0.3.1
        with:
          repository: ${{ github.repository }}
          workflow: ".github/workflows/energy_manager.yml"
          older-than-seconds: 2592000 # 30*24*60*60
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete workflow runs for "WARP on Steroids"
        uses: poohnet/delete-old-workflow-runs@v0.3.1
        with:
          repository: ${{ github.repository }}
          workflow: ".github/workflows/warp_on_steroids.yml"
          older-than-seconds: 2592000 # 30*24*60*60
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
